
<header class="head">
  <div class="logo">
    Client Logo
  </div>
  <div class="head-elements">
    <mat-icon>chat_bubble_outline</mat-icon>
    <mat-icon>alarm</mat-icon>
      <img src="../assets/img_avatar.png" alt="Avatar" class="avatar">
      <span class="user">John Doe</span>
    
  </div>
</header>
<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link">
        <mat-icon>dashboard</mat-icon>
      </a>
      
    </li>
    <li class="nav-item">
      <a  class="nav-link">
        <mat-icon >assignment_turned_in</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <mat-icon >assignment</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">

        <mat-icon >monetization_on</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <mat-icon >announcement</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <mat-icon > account_balance_wallet</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <mat-icon > collections_bookmark</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/home" class="nav-link">
        <mat-icon > local_shipping</mat-icon>
      </a>
    </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <mat-icon > pie_chart</mat-icon>
        </a>
      </li>
      <li class="nav-item">
       <a href="" class="nav-link">
        <mat-icon> settings</mat-icon>
       </a>
      </li>

  

    
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>